<div class="demo-template">
  <h1>Planets [<%= @planets.count %>] <%= link_to "(+)", new_planet_path %></h1>

  <% if @planets.count > 0 %>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Distance</th>
          <th>Is Habitable?</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @planets.each do |planet| %>
          <tr>
            <td><%= planet.name %></td>
            <td><%= planet.distance %></td>
            <td><%= planet.habitable ? "YES" : "NO" %></td>
            <td><%= link_to 'Edit', edit_planet_path(planet) %></td>
            <td><%= link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-warning demo-alert" role="alert">
      There are no planets registers, please add one <%= link_to "here", new_planet_path %>.
    </div>
  <% end %>
</div>
